.sidebar-link {
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

/* ACTIVE STATE */
.sidebar-link.active {
  background-color: #b58954; /* warna kopi */
  color: #fff;
  font-weight: 600;
}
